.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
    text-align: center;
}

header{
    text-align: center;
}

header,section,footer,aside,nav,article{
    border: 1px solid black;
}

.pantalla_principal{
    background-color: gray;
    width: 950px;
    margin: 30px auto ;
    padding: 50px;
    border: 1px solid lawngreen;
}

footer{
    margin: 30px ;
   
    
}
.espaciado{
    margin: 30px;
}


