
<!DOCTYPE html>
<html lang="es">
    <head><!-- es la cabeza de la pagina -->
        <title>CHaco PREGUNTAS </title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- llamar otros achivos-->
        <link rel="stylesheet" href="estilos.css">

    </head>
    <body>
        <header>
            <title> REGISTRO</title>
        </header>
        <section>
            <form >
                <input type="" name ="nombre" required="">
                <input type="password" name = "contraseña" required="">
                <input type="password" name = "confirmacion" required="">
                <input type="email" name = "email" required="">
                <input type="submit"> <!-- determina el idioma local y como defoul "enviar"-->
            
            </form>
        
        </section>
    </body>
</html>

